<div style="padding-left: 30px;">&nbsp;</div>
<br><br><br>
<div style="text-align: left; padding-left: 243px;">Name:</div>
<div style="text-align: left; padding-left: 243px;"><input type="text" value="" ng-model="name"/></div>
<div style="text-align: left; padding-left: 243px;">Min tourists:</div>
<div style="text-align: left; padding-left: 243px;"><input type="text" value="" ng-model="minT"/></div>
<div style="text-align: left; padding-left: 243px;">Max tourists:</div>
<div style="text-align: left; padding-left: 243px;"><input type="text" value="" ng-model="maxT"/></div>
<div style="text-align: left; padding-left: 243px;">Equipment:</div>
<div style="text-align: left; padding-left: 243px;"><input type="text" value="" ng-model="equip"/></div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;  padding-left: 320px;"><button ng-click="addExcursion.ok()" ng-enter="addExcursion.ok()">OK</button> </div>