<div style="padding-left: 30px;">&nbsp;</div>
<br><br><br>
<div style="text-align: left; padding-left: 243px;">Capacity:</div>
<div style="text-align: left; padding-left: 243px;"><input type="text" value="" ng-model="capacity"/></div>
<div style="text-align: left; padding-left: 243px;">Mileage:</div>
<div style="text-align: left; padding-left: 243px;"><input type="text" value="" ng-model="milage"/></div>
<div style="text-align: left; padding-left: 243px;">Model:</div>
<div style="text-align: left; padding-left: 243px;"><input type="text" value="" ng-model="model"/></div>
<div style="text-align: left; padding-left: 243px;">Numbers:</div>
<div style="text-align: left; padding-left: 243px;"><input type="text" value="" ng-model="numbers"/></div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;">&nbsp;</div>
<div style="text-align: left;  padding-left: 320px;"><button ng-click="addVehicle.ok()" ng-enter="addVehicle.ok()">OK</button> </div>